<h1>Home Page</h1>

<p>
<% if !current_user %>
    <%= link_to "Sign Up", signup_path %>
    <p>
    <%= link_to "Login", '/login' %>
    <p>
    <%= button_to("Log In with Github", '/auth/github')%>
<% else %>
    <%= link_to "All Ratings", ratings_path %>
    <p>
    <%= link_to "All Books", books_path %>
    <p>
<% end %>