<h1>Welcome <%= @user.name %></h1>

Username: <%= @user.username %><br>
Email: <%= @user.email %><br>

Ratings: <%= @user.ratings.count %>

<% @user.ratings.each do |rating| %>
    <ul>
        <li>
            <h3><%= rating.title %></h3>
            <br>
            <%= rating.book.title %>
            <br>
            <%= rating.content %>
            <br>
            <small><%= rating.timestamps %></small>
        </li>
        ----------------------------------------------
    </ul>
<% end %>