<h1>Welcome <%= @user.name %></h1>
Username: <%= @user.username %><br>
Email: <%= @user.email %><br>

Ratings: <%= @user.ratings.count %>

<br><br>

<% @user.ratings.each do |rating| %>
    <br><br>
    <b>Rating Title:</b> <%= rating.title %>
    <br>
    <b>Book Title:</b> <%= rating.book.title %>
    <br>
    <b>Content: </b> <%= rating.content %>
    <br>
    ----------------------------------------------
<% end %>