<h1>Welcome <%= current_user.name %></h1>
Username: <%= current_user.username %><br>
Email: <%= current_user.email %><br>

Ratings: <%= current_user.ratings.count %>

<br><br>

<% current_user.ratings.ordered_by_score.each do |rating| %>
    <br><br>
    <b>Rating Title:</b> <%= rating.title %>
    <br>
    <b>Book Title:</b> <%= link_to rating.book.title, book_path(rating.book_id) %>
    <br>
    <b>Content: </b> <%= rating.content %>
    <br>
    <b>Rating Score: </b> <%= link_to rating.score, rating_path(rating.id) %>
    <br><br>
    -------------------------------------------------------------------------------------------------------
<% end %>