<h1><%= @rating.book.title %></h1>

<div>
  <h3>By: <%= @rating.user.name %></h3>
  <li><%= @rating.score %></li>
  <p><%= @rating.content %></p>
  <br>
</div>


<% if current_user == @rating.user %>
    <%= link_to "Edit Rating", edit_rating_path(@rating) %> |
    <%= link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>