<h1>Edit Books</h1>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :author %>
  <%= f.text_field :author %><br>
  <%= f.label :publisher %>
  <%= f.text_field :publisher %><br>
  <%= f.label :genre %>
  <%= f.text_field :genre %><br>
  <%= f.label :score %>
  <%= f.text_field :score %><br>
  <%= f.label :release_year %>
  <%= f.text_field :release_year %><br>
  <%= f.submit %>

<% end %>

