<h1> Books Index </h1>
<%= link_to "Create a Book", new_book_path %> 
<% @books.each do |book| %>
  <ol>
    <%= link_to book.title, book %><br>
    <%= book.author %><br>
    <%= book.publisher %><br>
    <%= book.genre %><br>
    <%= book.release_year %><br>
  </ol>
<% end %>