<h1> Books Index </h1>
<%= link_to "Create a Book", new_book_path %> 
<% @books.each do |book| %>
  <ol>
    <%= link_to book.title, book %>
    <%= book.author %>
    <%= book.publisher %>
    <%= book.genre %>
    <%= book.release_year %>
  </ol>
<% end %>