<h1> Books Index </h1>
<%= link_to "Create a Book", new_book_path %>
<% @books.each do |book| %>
  <ol>
    Title: <%= link_to book.title, book %><br>
    Author: <%= book.author %><br>
    Publisher: <%= book.publisher %><br>
    Genre: <%= book.genre %><br>
    Released: <%= book.release_year %><br>
  </ol>
-------------------------------------------------------------------------------------------------------
<% end %>
