
<h1>Books Show</h1>

Title: <%= @book.title %> <br>

Author: <%= @book.author %><br>

Publisher: <%= @book.publisher %><br>

Genre: <%= @book.genre %><br>

Released: <%= @book.release_year %><br><br>

<%= link_to "Create New Rating", new_book_rating_path(@book) %>

<%= link_to "View Ratings", book_ratings_path(@book) %>





